.setting-label {
  font-family: "Avenir Next";
  font-weight: 500; 
  font-size: 14px;
  margin-bottom: 20px;
}

.hex-type-label {
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}

span {
  display: block;
  color: #777777;
  font-size: 12px;
}

#header {
  width: 100%; 
  height: 40px; 
  background-color: black;
}

.playground-window {
  background-color: #F3F3F3;
  display: flex;
  justify-content: space-between;
}

/* Settings  */

.settings-container {
  width: 386px; 
  height: max-content;
}

.settings-header {
  width: 100%; 
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sectionLabel */

.section-label-container {
  display: flex;
}

.label-icon-container {
  height: 15px; 
  width: 15px;
  background-image: url('../images/settingsicon.png');
  background-size: cover;
}

.section-label {
  margin-left: 5px;
  font-size: 12px;
  color:black;
}

/* ------- */

.settings-panel {
  margin-bottom: 5px;
  padding: 20px 15px;
  width: 356px; 
  height: 300px; 
  background-color: white;
  overflow-y: auto;
}

.settings-panel::-webkit-scrollbar {
  width: 8px;
  background-color: white;
}

.settings-panel::-webkit-scrollbar-thumb {
  background-color: #E4E4E4;
  border-radius: 10px;
  visibility: hidden;
}

.settings-panel:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.color-panel {
  height: 230px;
}

.font-panel {
  height: 210px;
}

.typography-panel {
  height: 355px;
}

/* ColorInput */

.input-container {
  margin-bottom: 5px;
  width: 100%; 
  height: 40px; 
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}

.color-input-circle {
  width: 30px; 
  height: 30px; 
  border-radius: 50%;
}

.color-type-label {
  margin-left: 10px;
  font-size: 14px;
  width: 75px;
  color: black;
}

.hexCodeInput {
  width: 100px;
  height: 10px;
}

#colorwheel-btn {
  margin-left: 5px;
  width: 28px; 
  height: 28px;
  background-image: url(../images/colorwheel.png);
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.add-btn {
  margin-left: 10px;
  width: 40px; 
  height: 28px;
  background: none;
}


/* FontInput */

.font-input-container {
  margin-bottom: 5px;
  width: 100%; 
  /* height: 60px;  */
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
}

.font-select-container {
  /* margin-bottom: 20px; */
  margin-left: 40px;
  height: 100%; 
  width: 200px;
  /* background-color: red; */
  /* padding-bottom: 8px; */
}

.font-input-icon-container {
  width: 20px;
}

.font-input-icon {
  width: 35px;
  font-size: 45px;
}

.selected-font-label {
  margin-left: 10px;
  font-size: 14px;
}

.font-type-label {
  font-size: 10px;
  font-family: "Avenir Next";
  font-weight: 600;
}

.font-add-btn {
  margin-left: 8px;
  margin-top: 15px;
  width: 35px; 
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #D2D2D2;
  transition: all 0.5s ease;
}

.font-add-btn-icon {
  font-size: 30px;
  color: #D2D2D2;
  margin-bottom: 6px;
}


.font-add-btn:hover {
  cursor: pointer;
  background-color: #1EE0EF;
}

.font-add-btn:hover .font-add-btn-icon  {
  color: white;
}



/* StyleGuide Styles */

.styleguide-container {
  width: 612px; 
  height: max-content;
}

.styleguide-header {
  width: 100%; 
  margin-bottom: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.style-guide {
  margin-top: 10px;
  padding: 40px 50px;
  height: 712px;
  width: 512px;  
  background-color: white;
  box-shadow: 0px 0px 8px #C5C5C5;
  margin: 0 auto;
  position: relative;
  overflow-y: auto;
}

.font-display-container {
  width: 100%; 
  height: 80px; 
  /* background-color: #1EE0EF; */
  display: flex;
  align-items: center;
}

.font-display-icon-container {
  width:60px; 
}

.font-display-icon {
  font-size: 48px;
}

.font-display-info-container {
  height: max-content;
  width:140px;
  margin-left: 30px;
}

.font-type-label {
  font-family: "Avenir Next";
  font-weight: 700;
  font-size: 12px;
}

.display-font-name {
  color:black;
  font-family: "Avenir Next";
  font-size: 16px;
}

.divider-vert{
  height: 70px; 
  width: 2px;
  background-color: #D8D8D8;
  border-radius: 20px;
}

.font-weight-info-container{
  height: max-content; 
  width: max-content;
  /* background-color: red; */
  margin-left: 10px;
}

.font-weight-label{
  font-size: 14px;
  color: black;
  line-height: 21px;
}

.font-sample-container {
  font-size: 12px;
  margin-left: 25px;
}

.font-weight-sample{
  font-size: 12px;
  color: black;
  line-height: 21px;
}

.color-palette-container {
}

.hex-box {
  width: 100%; 
  height: 90px; 
  margin-bottom: 10px;
  display: flex;
  /* background-color: yellow; */
  align-items: center;
}

.color-container {
  width: 90px; 
  height: 90px; 
  background-color: white;
  border-radius: 100%;
}

.color-info-container {
  margin-left: 20px;
  width: 100px;
  height: 57px;
  
}
.gradient-container {
  margin-left: 20px;
  width: 250;
  display: flex;
  align-items: center;
}

.gradient-square {
  width: 50px; 
  height: 50px;
  background-color: white;
}