.login-form-container {
    width: 560px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: -70px;
    background-color: #2A2A2A;
}

.login-contents-container{
    width: 370px;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-header {
    color: white;
    font-size: 28px;
    font-weight: 500;
}

.blue-font {
    color: #4BC3E9; 
}

.login-form {
    width: 100%;
    margin-top: 30px;
}

.form-label {
    display: block;
    color: white;
    font-size: 12px;
}

.form-input {
    width: 100%;
    height: 35px;
    color: white;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #424242 1px;   
    margin-bottom: 20px;
}

input:-webkit-autofill, select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

.form-btn {
    width: 175px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#form-login-btn {
    background: linear-gradient(#35E2FF, #049EE3);
}

#form-signup-btn {
    float: right;
    border: solid white 1px;
    background-color: transparent;
}

/* Signup Form */

.signup-form-container {
    width: 560px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A2A2A;
    border-radius: 8px;
    margin-top: -70px;
}

.login-msg {
    color: white;
    font-size: 15px;
}

#login-link {
    color: #4BC3E9;
}