.login-form-container {
    width: 560px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: -70px;
    background-color: #2A2A2A;
}

.login-contents-container{
    width: 370px;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-header {
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
}

.blue-font {
    color: #4BC3E9; 
}

.login-form {
    width: 100%;
}

.form-label {
    color: white;
    font-size: 12px;
}

.form-input {
    width: 100%;
    height: 35px;
    color: white;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #424242 1px;   
    margin-bottom: 20px;
}

input:-webkit-autofill, select:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}

.form-btn {
    width: 175px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

#form-login-btn {
    background: linear-gradient(#35E2FF, #049EE3);
}

#form-signup-btn {
    float: right;
    border: solid white 1px;
    background-color: transparent;
}

/* Signup Form */

.signup-form-container {
    width: 560px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A2A2A;
    border-radius: 8px;
    margin-top: -70px;
}

.login-msg {
    color: white;
    font-size: 15px;
}

#login-link {
    color: #4BC3E9;
}

.input-error-msg {
    color: red;
    font-size: 11px;
    margin-left: 10px;
}

.login-error-msg-container {
    width: 100%;
    border-radius: 2px;
    padding: 5px 0px;
    margin-bottom: 20px;
    background-color: #ff5555;
}

.login-error-msg {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.create-form {
    width: 95%;
    height: 240px;
}

.create-form input[type="radio"] {
    margin-top: 15px;
}

.radio-label {
    margin-left: 5px;
    color: white;
}

#create-submit-btn {
    margin-top: 40px;
    width: 140px;
    background: linear-gradient(#35E2FF, #049EE3);
}

/* Settings Form */

.settings-form {
    width: 95%;
}

.privacy-label {
    display: block;
    margin-bottom: 10px;
}

.choose-container {
    display: flex;
    height: 35px;
    align-items: center;
    border: solid 0.5px #414141;
    border-radius: 5px;
}

.choose-label {
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
}

.choose-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}

.choose-btn {
    width: 80px;
    padding: 8px 0px;
    display: block;
    background-color: #414141;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
    font-weight: 600;
}

.choose-btn:hover {
    background: linear-gradient(#35E2FF, #049EE3);
}

.filename-container {
    width: 85%;
    height: 35px;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 10px;
}

#settings-submit-btn {
    float: right;
    margin-top: 30px;
    width: 140px;
    background: linear-gradient(#35E2FF, #049EE3);
}