.home-wrapper {
    width: 100%; 
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.account-header-container {
    width: 300px; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto; 
    margin-right: 30px;
    order: 2;
}

.account-name {
    margin-right: 20px;
}

.profile-icon {
    width: 40px; 
    height: 40px;
    background-image: url('../images/profileicon.png');
    background-size: cover;
}

.home-container {
    width: 100%;
    height: 100%; 
    flex: 1;
    display: flex;
    flex-direction: column;
}

.mystyles-container {
    width: 100%;
    height: 52%;
    background-color: #1F1F1F;
    z-index: 0;

}

.bold-title {
    color: white;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.small-text {
    color: white;
    margin-left: 50px;
}

.style-swipe {
    width: 100%;
    height: 350px; 
    margin-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

.style-swipe::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
  
.style-swipe::-webkit-scrollbar-thumb {
    visibility: hidden;
    background-color: transparent;
    border-radius: 10px;
}
  
.style-swipe:hover::-webkit-scrollbar-thumb {
    visibility: hidden;
}

.home-icon-container{
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    background-color: #F0EFEF;
}

.icon-btn {
    width: 48.5%; 
    height: 93%; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 8px;
    background-color: white;
}

.icon-btn:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: #1EE0EF;
}

#explore-btn {
    margin-left: 15px;
}

#create-btn {
    margin-right: 15px;
    margin-left: auto;
    order: 2;
}


/* modal */

.modal-title {
    color: white;
    margin-left: 15px;
}