@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900&display=swap');

.landing-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.landing-header {
  width: 100%; 
  height: 100px; 
  display: flex;
  align-items: center;
}

.landing-logo {
  width: 40px; 
  height: 40px; 
  background-image: url('../images/suilogodark.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 30px;
}

.landing-nav {
  width: 400px; 
  height: 100%;
  /* background-color: red; */
  margin-left: auto; 
  margin-right: 30px;
  order: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.landing-nav-links {
  list-style: none;
}

.landing-nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-link {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

#signupBtn {
  font-size: 14px;
  font-weight: 700;
  color: white;
  padding: 9px 22px;
  background-image: linear-gradient(#68D9EC, #2AAAE4);
  border: none;
  border-radius: 5px;
}

.welcome-container {
  width: 100%;
  flex: 1;
  display: flex;
}

.welcome-text-container {
  height: 100%;
  width: 45%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-box {
  height: 30%;
  width: 50%;
  background-image: url(../images/welcometxt.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#welcometxt {
  font-family: 'Noto Sans SC', sans-serif;
  margin: 0;
  font-size: 5.2vw;
  font-weight: 400;
}

#totxt {
  font-family: 'Noto Sans SC', sans-serif;
  margin: 0;
  margin-top: -16px;
  font-size: 4.2vw;
  font-weight: 400;

}

#suitxt {
  font-family: 'Noto Sans SC', sans-serif;
  margin: 0;
  margin-top: -87px;
  float: right;
  font-weight: 900;
  font-size: 10vw;
  
}

.welcome-anim-container {
  height: 100%; 
  width: 55%; 
  /* background-color: blue; */
  display: flex;
}

.graphic {
  height: 95%; 
  width: 100%;
  background-image: url(../images/landinggraphic.png);
  background-size: contain;
  background-repeat: no-repeat;
}









.intro-container {
  width:100%; 
  height: 100vh;
  background-color: #68D9EC;
}