#login-container {
  height: 100%; 
  width: 100%; 
  display: flex;
}

#login-panel-container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-panel {
  height: 400px; 
  width: 40%; 
  border-radius: 10px;
  background-color: #282828;
  transform: perspective(200px) rotateY(4deg) scale(1.5);
  -webkit-font-smoothing: antialiased;
}

#logo-container {
  height: 30%; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-img {
  width: 40px;
  height: 40px; 
  background-image: url('../images/sui_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#form-container {
  height:70%;
  width: auto; 
  padding-left: 50px;
  padding-right: 50px;
}

#form-container form {
  font-family: "Avenir Next";
}

#form-container label {
  color: white;
  font-size: 8px;
}

.fullwidth-input {
  height: 15px;
  width: 100%;
  display: block;
  border: none;
  color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(255,255,255,0.25);
}

#login-btn {
  width:80px;
  margin-top: 20px;
  float: right;
  background-color: #0EC9DF;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 8px;
  color: white;
  border: none;
  border-radius: 5px;
}

#login-anim-container {
  height: 100%; 
  width: 50%;
  background-image: url('../images/logingraphic.png');
  background-size: 80%;
  background-position: center;
  background-position-x: left;
  background-repeat: no-repeat;
}
