  .color-input-container {
    width: 100%; 
    height: 40px;   
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .color-input-circle {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
  }
  
  .color-input-type {
    width: 75px;
    color: black;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .hex-input {
    width: 100px;
    height: 22px;
  }

  .hex-add-btn {
    width: 40px; 
    height: 28px;
    margin-left: 10px;
    background: none;
  }
  
  .colorwheel-btn {
    width: 28px; 
    height: 28px;
    margin-left: 5px;
    background-image: url(../../images/colorwheel.png);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
  }
  