.font-input-container {
    margin-bottom: 5px;
    width: 100%; 
    height: max-content; 
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}
  
.font-input-icon {
    width: 35px;
    font-size: 45px;
    margin:0;
}

.font-select-container {
    /* margin-bottom: 20px; */
    margin-left: 40px;
    height: 100%; 
    width: 200px;
    /* background-color: red; */
    /* padding-bottom: 8px; */
}


.font-type-label {
    font-size: 10px;
    font-family: "Avenir Next";
    font-weight: 600;
}