.font-input-container {
    width: 100%; 
    height: max-content;
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
}
  
.font-input-icon {
    width: 35px;
    font-size: 45px;
    margin: 0;
}

.font-select-container {
    width: 200px;
    height: 100%; 
    margin-left: 40px;
}

.font-type-label {
    font-size: 10px;
    font-weight: 600;
}