.section-header {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-label-container {
    display: flex;
}

.label-icon-container {
    width: 15px;
    height: 15px; 
    background-size: cover;
}

.section-label {
    color:black;
    font-size: 12px;
    margin-left: 5px;
}