.settings-container {
    width: 386px; 
    height: max-content;
}

.settings-panel {
    width: 356px; 
    height: 300px; 
    margin-bottom: 5px;
    padding: 20px 15px;
    background-color: white;
    overflow-y: auto;
}
  
.settings-panel::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}
  
.settings-panel::-webkit-scrollbar-thumb {
    visibility: hidden;
    border-radius: 10px;
    background-color: #E4E4E4;
}
  
.settings-panel:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}
  
.color-panel {
    height: 355px;
}

.font-panel {
    height: 355px;
}
  
.typography-panel {
    height: 240px;
}

.setting-label {
    font-size: 14px;
    font-weight: 500; 
    margin-bottom: 20px;
}

.font-add-btn {
    width: 30px; 
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 8px;
    border-radius: 50%;
    border: 1px solid #D2D2D2;
    transition: all 0.5s ease;
}

.font-add-btn:hover {
    cursor: pointer;
    background-color: #1EE0EF;
    border: none;
}

.font-add-btn-icon {
    color: #D2D2D2;
    font-size: 28px;
}

.font-add-btn:hover .font-add-btn-icon  {
    color: white;
}
  
.font-input-icon-container {
    width: 20px;
}

.typo-icon {
    margin: 0px 0px;
}