.ui-comp-container {
    width: 386px; 
}

.ui-panel {
    height: 500px;
    width: 386px; 
    background-color: gray;
}

.tab-container {
    width: 100%;
    height: 35px; 
    background-color: red;
    display: flex;
}

.input-nav-container {
    width: 50%; 
    height: 35px; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typ-container {
    width: 50%; 
    height: 35px; 
    background-color: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-label {
    font-family: "Avenir Next";
    font-size: 11px;
}

/* .settings-panel {
    margin-bottom: 5px;
    padding: 20px 15px;
    width: 356px; 
    height: 300px; 
    background-color: white;
    overflow-y: auto;
}
  
.settings-panel::-webkit-scrollbar {
    width: 8px;
    background-color: white;
}
  
.settings-panel::-webkit-scrollbar-thumb {
    background-color: #E4E4E4;
    border-radius: 10px;
    visibility: hidden;
}
  
.settings-panel:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}
   */