.ui-comp-container {
    width: 386px; 
}

.ui-panel {
    width: 386px; 
    height: 500px;
    background-color: white;
}

.ui-tab-container {
    width: 100%;
    height: 35px; 
    display: flex;
    background-color: red;
}

.ui-tab {
    width: 50%; 
    height: 35px; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-tab:hover {
    cursor: pointer;
}

#ui-tab-typo {
    background-color: #E9E9E9;
}

.tab-label {
    font-size: 11px;
}

.filter-wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 12px -5px 8px 10px #E1E1E1;
}

.filter-container {
    width: 270px; 
    height: 30px; 
    display: flex;
}

#primary-filter {
    border-radius: 50px 0px 0px 50px;
}

#tertiary-filter {
    border-radius: 0px 50px 50px 0px;
}

.filter-btn {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    background-color: #E9E9E9;
}

.filter-btn:hover {
    cursor: pointer;
    border: solid #C0C0C0 0.5px;
}

.selected-filter {
    border: solid #C0C0C0 0.5px;
    background-color: white;
}

.component-containter {
    width: 100%;
    height: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    overflow-y: auto;
}

.component-label {
    display: block;
    font-size: 12px;
    margin-top: 30px;
}

.component-section {
    margin-top: 15px;
}

.component-section-wrapper {
    width: 100%; 
    height: max-content;
    display: flex;
    justify-content: space-between;
}
