.ui-comp-container {
    width: 386px; 
}

.ui-panel {
    height: 700px;
    width: 386px; 
    background-color: white;
}

.tab-container {
    width: 100%;
    height: 35px; 
    background-color: red;
    display: flex;
}

.input-nav-container {
    width: 50%; 
    height: 35px; 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typ-container {
    width: 50%; 
    height: 35px; 
    background-color: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-label {
    font-family: "Avenir Next";
    font-size: 11px;
}

.filter-wrapper {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 12px -5px 8px 10px #E1E1E1;

}

.filter-container {
    width: 270px; 
    height: 30px; 
    /* background-color: red; */
    display: flex;
}

.filter-btn {
    width: 90px;
    height: 30px;
    background-color: #E9E9E9;
    font-family: "Avenir Next";
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-btn:hover {
    cursor: pointer;
    border: solid #C0C0C0 0.5px;
}

.selected-filter {
    background-color: white;
    border: solid #C0C0C0 0.5px;
}

#primary-filter {
    border-radius: 50px 0px 0px 50px;
}

#tertiary-filter {
    border-radius: 0px 50px 50px 0px;
}

.component-containter {
    width: 100%;
    height: 100%;
    padding: 30px 30px;
    box-sizing: border-box;
    overflow-y: auto;
}

.component-label {
    font-family: "Avenir Next";
    font-size: 12px;
    display: block;
}

.component-section {
    margin-top: 15px;
}