.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.height-transition {
    height: 650px;
    animation-name: heightTransition;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

@keyframes heightTransition {
	0% {
		height: 410px;
	}
	100% {
		height: 650px;
	}
}

.height-shrink {
    height: 410px;
    animation-name: heightShrink;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

@keyframes heightShrink{
	0% {
		height: 650px;
	}
	100% {
		height: 410px;
	}
}